*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Tahoma, 'Garamond', 'Arial', sans-serif;
}
header {
    background-color: white var(--main-color);
    margin: auto;
    padding: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 20px double rgb(164, 101, 206);
}

body {
    font-size: 35px;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

main {
    display: flex;
    border-bottom: 20px double r;
}

h1 {
    text-align: center;
}

.switch {
    margin-right: 20px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    background-color: rgb(164, 101, 206);
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.4s;
}

.slider:before {
    background-color: rgb(231, 227, 204);
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgb(59, 92, 59);
}

input:focus + .slider {
    box-shadow: 0 0 2px rgb(59, 92, 59);
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before{
    border-radius: 50%;
}

#submitbutton {
    background-color: rgb(59, 92, 59); 
    border-radius: 6px;
    color: rgb(231, 227, 204);
    cursor: pointer;
    font-size: 25px;
    line-height: 1px;
    max-width: 200px;
    padding: 20px 52px;
    text-align: center;
    margin: 0.6em auto;
    display: block;
}

label {
    color: rgb(164, 101, 206);
}

.img {
    width: 50%;
    display: flex;
    border-right: double 25px rgb(164, 101, 206);
}

.light h1 {
    color: rgb(164, 101, 206);
}

.dark h1 {
    color: black;
}

.card {
    display: inline-block;
    background: white;
    width: 50%;
    min-height: auto;
    padding-top: 20px;
    margin: 80px; 
    padding-right: 90px;
   }

#titlebox {
    display: block;
    min-height: 100px;
    margin-top: 10px;
    width: 100%;
    background-color: rgb(168, 207, 241);
}

#contentbox {
    display: block;
    min-height: 100px;
    margin-top: 10px;
    width: 100%;
    background-color: rgb(168, 207, 241);
}

#userbox {
    display: block;
    min-height: 100px;
    margin-top: 10px;
    width: 100%;
    background-color: azure;
}


.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}